body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    min-width: 720px;
    width: 90%; /*tamanho do layout liquido*/
    margin: 0 auto; /* Sempre que utiliza auto para laterais, centraliza o conteudo */
    
}

#marca{

    height: 100px; /*largura do layout fixo*/
    text-align: center;
    line-height: 100px;
    background-color: #9a9a9a;
}
#conteudo{
    
    width: 75%; /*largura do layout liquido*/
    float: right;
}
#conteudo-principal{
    border: 1px solid red;
    width: 63%;
    float: left; 
    background: #d3f3;
}
#conteudo-secundario{
    border: 1px solid red;
    width: 36%;
    float: right;
    background: #d1d11d; 
}
#navegacao{
    padding-top: 20px;
    padding-bottom: 20px;
    
    width: 23%; /*largura do layout liquido*/
    float: left;
    background: #d1d1d1;
}
#rodape{
    clear: both;
    background-color: aqua;
    padding: 5px;

}

#navegacao li{
    list-style: none;
    font-size: 20px;
    
}


